{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Blog - healthchecks.io{% endblock %}

{% block content %}
<div class="row">
    <div class="jumbotron">
        <h2 class="display-4">Catch up with our latest write-ups</h2>
        <p class="lead">Section under development. Please check back soon.</p> 
    </div>

    <h2>=====Heading one========</h2>
    <p>
    Lorem Ipsum<a href="">Some Link</a>Lorem ipsum dolor sit amet, at perfecto accommodare quo. Vis utinam inimicus no. Et ubique apeirian nominati usu, an labores indoctum duo. Exerci partiendo evertitur in sit, doctus accusam ea sit.
    </p>
    <p> 
    Lorem ipsum dolor sit amet, at perfecto accommodare quo. Vis utinam inimicus no. Et ubique apeirian nominati usu, an labores indoctum duo. Exerci partiendo evertitur in sit, doctus accusam ea sit.
    </p>
    <p><a href="">Read more..</a></p>

</div>
{% endblock %}